@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body), sans-serif;
  @apply bg-white text-slate-900 antialiased;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display), sans-serif;
}
